.header-container {
  height: 97px;
  background-color: #1ea1f7;
  color: white;
}

.header-input-block {
  background-color: red;
  width: 500px;
}

.summoner-search-input {
  border: transparent;
}

.summoner-search-input:focus {
  outline-width: 0;
  outline: none;
}

.button-input-gg {
  border: transparent;
}

.button-logo-opgg {
  width: 30px;
  border: solid transparent;
}
