.summoner-searchbox-container,
.summoner-inputbox-container {
  position: absolute;
  width: 260px;
  top: 45px;
  background-color: white;

  z-index: 10;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  color: #4a4a4a;
  font-family: Helvetica;
}

.summoner-searchbox-tab-selected,
.summoner-searchbox-tab {
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.summoner-searchbox-tab {
  background-color: #e3e3e3;
  color: #879292;
}

.summoner-search-element-container {
  font-size: 11px;
}

.summoner-search-name {
  text-align: left;
  cursor: pointer;
}

.summoner-search-element-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.history-not-found-text {
  font-size: 12px;
}

.summoner-search-input-element-container {
  font-size: 11px;
  cursor: pointer;
}

.summoner-search-input-element-container:hover {
  background-color: #e8f5fe;
}

.summoner-search-input-element-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.summoner-search-input-summoner-name {
  font-size: 14px;
}

.summoner-search-name-container,
.summoner-search-input-summoner {
  text-align: left;
}
