.summoner-game-details-container {
  min-height: 100px;
  border-width: thin;
  border-radius: 2px;
}

.game-victory {
  border: solid #a1b8cd;
  background-color: #b0ceea;
}

.game-defeat {
  border: solid #c0aba8;
  background-color: #d6b5b2;
}

.game-rematch {
  border: solid #999999;
  background-color: #a7a7a7;
}

/* GENERAL INFORMATIONS */

@media screen and (max-width: 768px) {
  .game-general-infos-container {
    padding-top: 20px;
  }
}

.game-general-infos-gameType {
  font-family: AppleSDGothicNeo;
  font-size: 11px;
  font-weight: bold;
  color: #555;
  padding-top: 3px;
}

.game-general-infos-gameCreation,
.game-general-infos-gameLength {
  font-family: AppleSDGothicNeo;
  font-size: 11px;
  color: #555;
  padding-top: 3px;
}

.game-general-infos-separator {
  border-bottom: thin solid black;
  width: 27px;
  margin: auto;
  border-width: thin;
}

.game-general-infos-gameResult {
  font-family: AppleSDGothicNeo;
  font-size: 11px;
  color: #555;
  font-weight: bold;
  padding-top: 3px;
}

/* CHAMPION AND STUFF */

.game-stuff-icon-container {
  width: 35px;
}

.game-champion-picture {
  width: 46px;
  border-radius: 50%;
}

.game-spell-peak-icon {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  margin-bottom: -5px;
}

.game-champion-name {
  font-family: AppleSDGothicNeo;
  font-size: 13px;
  color: #555;
}

/* KDA */

.game-stuff-icon-container {
  width: 35px;
}

.game-champion-picture {
  width: 46px;
  border-radius: 50%;
}

.game-spell-peak-icon {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  margin-bottom: -5px;
}

.game-kills-assists-deaths {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  color: #555e5e;
  letter-spacing: -0.58px;
}

.game-kda-str {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.42px;
  color: #333;
}

.game-killing-badge {
  display: flex;
}

.game-multi-killings {
  width: 60px;
  height: 18px;
  margin-right: 5px;
  padding: 1px 5px;
  border-radius: 9px;
  border: solid 1px #bf3b36;
  background-color: #ec4f48;

  font-family: Helvetica;
  font-size: 10px;
  color: #fff;
}

.game-score-badge {
  width: 31px;
  height: 18px;
  margin-left: 5px;
  padding: 1px 5px;
  border-radius: 9px;
  border: solid 1px #7f3590;
  background-color: #8c51c5;

  font-family: Helvetica;
  font-size: 10px;
  color: #fff;
}

/* MORE STATS */

.game-stats-level {
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  color: #555e5e;
}

.game-stats-cs {
  font-family: AppleSDGothicNeo;
  font-size: 11px;
  color: #555e5e;
}

.game-stats-kills-contribution {
  font-family: Helvetica;
  font-size: 11px;
  color: #d0021b;
  font-weight: bold;
}

/* ITEMS */

.game-inventory-items-line-container {
  display: flex;
}

.game-inventory-item-picture {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  margin: 1px;
  cursor: pointer;
}

.game-inventory-ward {
  display: flex;
}

.game-inventory-ward-picture {
  width: 16px;
  height: 16px;
}

.game-inventory-ward-str {
  font-family: Helvetica;
  font-size: 11px;
  letter-spacing: -0.42px;
  color: #000;
  font-weight: bold;
  margin-left: 5px;
}

/* TEAMS */
.summoner-game-team-container {
  display: flex;
}

.game-team-player-container {
  display: flex;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.game-team-player-champion-picture {
  width: 16px;
  height: 16px;
  margin-bottom: 1px;
  margin-right: 5px;
}
.game-team-player-name {
  font-family: Helvetica;
  font-size: 11px;
  letter-spacing: -0.42px;
  color: #555;

  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.summoner-game-last-column {
  height: 100%;
  width: 100%;
}

.summoner-game-last-column {
  width: 30px;
}

.summoner-game-more-info {
  flex-grow: 1;
  height: 100%;
  min-height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.summoner-game-arrow-defeat-game-defeat,
.summoner-game-arrow-defeat-game-victory,
.summoner-game-arrow-defeat-game-rematch {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.summoner-game-arrow-defeat-game-defeat {
  filter: invert(80%) sepia(97%) saturate(1091%) hue-rotate(333deg)
    brightness(82%) contrast(82%);
}

.summoner-game-arrow-defeat-game-victory {
  filter: invert(80%) sepia(86%) saturate(833%) hue-rotate(172deg)
    brightness(91%) contrast(106%);
}

.summoner-game-arrow-defeat-game-rematch {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(297deg)
    brightness(96%) contrast(104%);
}
